*.o
*.lo
*.exe
autom4te.cache/
.libs/
.deps/
m4/
*.a
*.la
config.log
config.status
stamp-h1
config.h.in~
src/libtvision/tvision
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
.idea
*.iml
build/
